<div id="<%= dom_id enemy %>">
  <p>
    <strong>Name:</strong>
    <%= enemy.name %>
  </p>

  <p>
    <strong>Date of enemy:</strong>
    <%= enemy.date_of_enemy %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= enemy.email %>
  </p>

  <p>
    <strong>Years:</strong>
    <%= enemy.years %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= enemy.phone %>
  </p>

</div>
