<div id="<%= dom_id amici %>">
  <p>
    <strong>Name:</strong>
    <%= amici.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= amici.date_of_birth %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= amici.adress %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= amici.email %>
  </p>

  <p>
    <strong>Years:</strong>
    <%= amici.years %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= amici.phone %>
  </p>

</div>
