<p style="color: green"><%= notice %></p>

<%= render @amici %>

<div>
  <%= link_to "Edit this amici", edit_amici_path(@amici) %> |
  <%= link_to "Back to amicis", amicis_path %>

  <%= button_to "Destroy this amici", @amici, method: :delete %>
</div>
